<!DOCTYPE html>
<html lang="fr">

<!-- HEAD -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>diceroll</title>

  <!-- metadatas -->
  <meta property="og:locale" content="fr_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="diceroll">
  <meta property="og:description" content="Lanceur de dés en ligne.">
  <meta property="og:url" content="https://diceroll.github.io">
  <meta property="og:site_name" content="diceroll">
  <meta property="og:image" content="https://bit.ly/2JIJdyU">

  <!-- favicons -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon_96x96.png">

  <!-- styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:600,800i&display=swap">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>