<%- include('partials/header.ejs') %>

<body>
  <div class="body__content">
    <!-- navbar -->
    <nav class="nav">
      <div class="nav__logo">
        <a class="nav__link" href="/">
          <img class="nav__img" src="/images/logo_w.svg">
        </a>
      </div>
    </nav>

    <div class="container">
      <!-- field -->
      <div class="container__field">
        <div class="container__dice"></div>
        <div class="container__total">
          <div class="total__text">Oops, vous n'êtes pas au bon endroit.</div>
          <div class="total__number">404</div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="footer" style="justify-content: flex-end">
      <div class="footer__block-right">
        <div class="block-right__copyright">
          <a href="http://jennblngr.com" target="_blank">JENNY-LEE BOULANGER</a> © 2020
        </div>
        <div class="block-right__socials">
          <a href="https://twitter.com/blngrjnn">
            <img class="socials__ico" src="/images/ico_twitter.svg">
          </a>
        </div>
      </div>
    </footer>
  </div>
</body>

<%- include('partials/footer.ejs') %>